.block-AC03 {
	// Set theme colours
	@include theme('background-color', '.AC03__tabs .AC03__tabs-list li.active', '&');

	.AC03__content {
		.AC03__content-item {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.AC03__tabs {
		background: $color-lightgrey-3;

		.AC03__tabs-list {
			list-style: none;
			padding: 0;
			margin: 0 -7vw;
			width: 100vw;

			li {
				margin: 0;
				padding: 0;
				display: block;
				border-bottom: 4px solid $color-white;

				button {
					padding: 8px calc(7% + 30px) 8px 7%;
					background: transparent;
					border: 0;
					display: block;
					width: 100%;
					text-align: left;
					position: relative;

					svg {
						position: absolute;
						right: 7vw;
						top: 50%;
						margin-top: -8px;
					}
				}

				&.active {
					color: $color-white;

					button {
						svg {
							transform: rotate(90deg);
							transform-origin: 50% 50%;

							path {
								fill: $color-white;
							}
						}
					}
				}
			}
		}
	}

	.AC03__content {
		padding: 25px 0;

		.AC03__content-item-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.btn {
				display: none;
			}
		}
	}

	.AC03__back {
		background: none;
		border: 0;
		color: $color-text;
		text-decoration: underline;
		border-radius: 0;
		margin-bottom: 30px;
	}

	@include lg {
		.AC03__content {
			.AC03__content-item-header {
				.btn {
					display: block;
				}
			}
		}

		.AC03__tabs {
			background: $color-darkgrey;
			color: $color-white;

			.AC03__tabs-list {
				display: flex !important;
				justify-content: flex-start;
				flex-wrap: wrap;
				margin: 0;
				width: 100%;

				li {
					height: 50px;
					display: flex;
					align-items: center;
					border: 0;

					button {
						border-left: 1px solid $color-white;
						padding: 0 25px;

						svg {
							display: none;
						}
					}

					&.active {
						display: flex;
						background: $color-red;

						button {
							border-left-color: transparent;
						}

						& + li {
							button {
								border-left-color: transparent;
							}
						}
					}

					&:first-child {
						button {
							border-left: 0;;
						}
					}
				}
			}
		}
	}
}