.block-CB {
	.card-block {
		height: 100%;
	}

	@include theme('border-color', '.card-block', '&');

	&.featured-panel--true {
		.CB-row .CB-col:last-child .card-block {
			background-color: $color-red;
			color: $color-white;
		}

		@include theme('background-color', '.CB-row .CB-col:last-child .card-block', '&');
	}

	.CB-row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		width: calc(100% + 32px);

		.CB-col {
			padding: 0 16px 32px;
			width: 100%;
		}
	}

	@include md {
		&.columns--2 {
			.CB-row .CB-col {
				width: 50%;
			}
		}

		&.columns--4 {
			.CB-row .CB-col {
				width: 50%;
			}
		}
	}

	@include lg {
		.CB-row .CB-col {
			width: 33.333%;
		}

		&.columns--3 {
			.CB-row .CB-col {
				width: 33.333%;
			}
		}

		&.columns--4 {
			.CB-row .CB-col {
				width: 25%;
			}
		}

	}
}