.block-CO02 {
	.CO02-intro {
		margin-bottom: 30px;
	}

	.transparent-card {
		height: 100%;
	}

	.row {
		width: calc(100% + 32px);
		margin: 0 -16px;

		> div {
			padding: 0 16px 24px;
		}
	}

	@include md {
		.transparent-card {
			margin: 0;
		}
	}
}