.block-CO02 {
	.CO02-intro {
		margin-bottom: 30px;
	}

	.transparent-card {
		height: 100%;
	}

	.row {
		> div {
			padding-bottom: 24px;
		}
	}

	@include md {
		.transparent-card {
			margin: 0;
		}
	}
}