.block-CO10 {
	padding: 30px 0;
	
	.CO10-social {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				padding: 0;
				margin: 0 10px 0 0;

				a {
					display: block;
				}
			}
		}

		.fa {
			font-size: 30px;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0 0 15px;
			vertical-align: middle;
			font-size: 19px;
		}
	}

	.CO10-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include md {
		.CO10-main {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&.address-inline--true {
			.CO10-social {
				h2,
				h3,
				h4,
				h5,
				h6 {
					display: inline-block;
					vertical-align: middle;
					margin: 0 30px 0 0;
				}

				ul {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}