.block-FB06 {
	padding: 0;

	.block__content > .row {
		margin: 0;
		width: 100%;

		> div {
			padding: 0;
		}
	}

	.FB06-main {
		display: flex;
		flex-direction: column;
		height: 100%;
    	justify-content: center;

		.FB06-main__image {
			height: 260px;
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			svg {
				position: absolute;
				top: -1px;
				right: -1px;
			}

		}

		.FB06-main__content {
			padding: 30px 0;
		}
	}

	.FB06-carousel {
		background: $color-lightgrey-2;
		padding-bottom: 36px;

		.slick-dots {
			list-style: none;
			margin: 0;
			padding: 0 7vw;

			li {
				display: inline-block;
				margin: 0 14px 0 0;
				font-size: 14px;

				a {
					text-decoration: none;
					border-bottom: 1px solid transparent;
					cursor: pointer;
					font-weight: 600;
					color: $color-text !important;
				}

				&.slick-active {
					a {
						border-color: $color-text;
					}
				}
			}
		}

		.FB06-carousel__item-image {
			height: 260px;
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			svg {
				position: absolute;
				bottom: -1px;
				left: -1px;
			}
		}

		.FB06-carousel__item-content {
			padding: 36px 0 20px 0;
			color: $color-text !important;

			.video-wrapper {
				margin-bottom: 20px;
			}
		}
	}

	@media(max-width: $bs-lg - 1px) {
		.FB06-main {
			.FB06-main__image {
				order: 1;

				svg {
					top: auto;
					bottom: 0;
					right: 0;
					transform: rotate(90deg);
					transform-origin: 100% 0%;
					bottom: -75px;
				}
			}

			.FB06-main__content {
				order: 2;
			}
		}
	}

	@include lg {
		.FB06-main .FB06-main__content {
			padding-right: $bs_grid_default_spacing;
		}

		.FB06-carousel {
			height: 100%;

			.FB06-carousel__item-content {
				padding: 36px 32px 20px $bs_grid_default_spacing;
			}

			.slick-dots {
				padding: 0 0 0 32px;
			}
		}
	}
}