.block-HB01 {
	@include theme('border-color', '', '&');
	padding: 0;
	height: 609px;

	&.height--small {
		height: 416px;

		.block__content {
			&:before,
			&:after {
				display: none;
			}
		}
	}

	&.height--medium {
		height: 612px;
	}

	&.border--true {
		border-bottom: 16px solid;
	}

	.block__content {
		height: 100%;
	}

	.HB01__carousel {
		width: 100%;
		height: 100%;

		.slick-list,
		.slick-track {
			height: 100%;
		}

		.slick-slide {
			height: 100%;

			> div {
				height: 100%;
			}

		}

		.HB01__carousel-item {
			height: 100%;
			display: flex !important;
			flex-direction: column;
			justify-content: center;
			position: relative;

			.btn {
				align-self: flex-start;
			}

			.HB01__carousel-item-bg {
				height: 230px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.HB01__carousel-item-content {
			width: 100%;
			flex: 1;
			z-index: 2;
			color: $color-white;
			background: rgba(0, 0, 0, .88);
			background-blend-mode: multiply;
			min-height: 230px;
			padding: 5px 7vw 50px;
			position: relative;

			.HB01__carousel-item-content-main {
				position: relative;
				z-index: 2;
			}

			@include lg {

			.HB01__carousel-item-content-overlay {
				svg {
					display: none;
				}

				&:after {
					content: '';
					mix-blend-mode: multiply;
					background: rgba(0,0,0,.7);
					position: absolute;
					top: -48px;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 96px;
				}
			}
		}

		@include md {

			.HB01__carousel-item-content-overlay {
				svg {
					display: none;
				}

				&:after {
					content: '';
					mix-blend-mode: multiply;
					background: rgba(0,0,0,.7);
					position: absolute;
					top: -48px;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 96px;
				}
			}
		}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: $color-white;
				font-size: 40px;
			    line-height: 44px;
			    margin: 0 0 30px;
			    font-weight: 300;
			}
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 10px;
		left: 5%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			font-size: 14px;
			opacity: .6;
			border-bottom: 1px solid transparent;
			margin: 0 1rem;
			line-height: 1;

			&:first-child {
				margin-left: 0;
			}

			a {
				cursor: pointer;
				text-decoration: none;
				color: $color-white;
			}

			&.slick-active {
				opacity: 1;
				border-color: $color-white;
			}
		}
	}

	@include md {
		height: 650px;

		&.height-small {
			height: 390px;
		}

		&.height-medium {
			height: 520px;
		}

		&.border-true {
			border-width: 26px;
		}

		.HB01__carousel {	
			.HB01__carousel-item {
				.HB01__carousel-item-bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;					
				}

				.HB01__carousel-item-content {
					padding: 80px 30px 150px 135px;
					width: 444px;
					height: 100%;
					display: flex;
					justify-content: center;
					flex-direction: column;	
					background: rgba(0, 0, 0, .8);

				

					.HB01__carousel-item-content-overlay {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 97px;
						z-index: 1;

						@include lg {

						svg {
							display: block;
							width: 100%;
							height: 78px;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 2;
						}
					}

						&:after {
							content: '';
							background: #000;
							height: calc(100% - 77px);
							top: 77px;
						}
					
				}

					&:before {
						content: '';
						width: 2px;
						height: 100%;
						transform: rotate(-25deg);
						background: $color-white;
						position: absolute;
						left: 97px;
						bottom: 81px;
						transform-origin: bottom right;
						z-index: 2;
					}

					&:after {
						content: '';
						width: 305px;
						height: 2px;
						background: $color-white;
						position: absolute;
						left: 97px;
						bottom: 80px;
						z-index: 2;

					}
				}
			}
		}

		.slick-dots {
			bottom: 20px;
			left: 135px;
		}
	}
}
/*MH Test comment*/

/*test 2*/