.block-IG02 {
	.IG02-grid {
		margin: 0 -36px -2px;
		width: calc(100% + 72px);
		display: flex;
		flex-wrap: wrap;

		.IG02-grid__item {
			padding: 0 36px 2px;
			width: 100%;
		}
	}

	.IG02__item {
		text-align: center;

		img {
			margin: 0 0 10px;
		}

		.btn {
			margin: 0;
		}
	}

	@include md {
		.IG02-grid {
			margin-bottom: -72px;

			.IG02-grid__item {
				padding-bottom: 72px;
				width: 50%;
			}
		}

		&.columns--2 .IG02-grid .IG02-grid__item {
			width: 50%;
		}

		&.columns--3 .IG02-grid .IG02-grid__item {
			width: 33.333%;
		}

		&.columns--4 .IG02-grid .IG02-grid__item {
			width: 25%;
		}
	}
}