.block-IN {
	.IN__sidebar {
		p {
			margin: 0;
		}

		strong {
			margin-top: 10px;
			display: block;
		}
	}

	.IN__form {
		padding: 10px 20px;
		margin-top: 10px;

		p {
			margin: 0;
			font-weight: bold;
		}

		form {
			display: flex;
			width: 100%;
			margin-top: 5px;

			input {
				flex: 1;
				height: 46px;
				color: $color-dark;
				padding: 0 10px;
				line-height: 46px;
				margin-right: 5px;
			}

			.btn {
				padding: 10px 15px;
			}
		}
	}

	@include lg {
		.IN__main {
			padding: 50px 32px 30px 0;
		}
	}
}