.block-IN03 {	
	form {
		button {
			background-color: $color-red;
		}
	}

	.IN__main {
		margin-bottom: 30px;
	}

	.IN__form {
		.btn {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	@include lg {
		.IN__main {
			padding-top: 30px;
			margin-bottom: 0;
		}
	}
}