.block-IN04 {
	.IN__media-main {
		p {
			margin: 0;
		}
	}
	
	.IN__media-description {
		margin-top: 10px;

		p {
			font-size: 14px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.IN__main {
		padding: 30px 0;
	}

	@include lg {
		&.media-align--left {
			.row {
				> div {
					&:first-child {
						order: 2;
					}

					&:last-child {
						order: 1;
					}
				}
			}

			.IN__main {
				padding-left: 32px;
				padding-right: 0;
			}
		}		
	}
}