.block-PTB03 {
	padding: 30px 0;
	
	.PTB03-carousel {
		width: calc(100% + 30px);
		margin: 0 -15px;
		padding-bottom: 50px;

		.slick-dots {
			position: absolute;
			bottom: 0;
			left: 7vw;
		}

		.slick-track {
			display: flex !important;
		}

		.slick-slide {
			height: auto;

			> div {
				height: 100%;
			}
		}

		.PTB03-carousel__item {
			height: 100%;

			.card-block {
				height: 100%;
				display: flex;
				flex-direction: column;

				h3 {
					flex: 1;
				}
			}
		}
	}

	&.bg--dark {
		.PTB03-carousel {
			.slick-dots {
				a {
					color: $color-white !important;
				}
			}
		}
	}

	.PTB-intro {
		.btn {
			position: absolute;
			bottom: 20px;
			right: 7vw;
			margin: 0;
			z-index: 100;
		}
	}

	@media(min-width: 500px) {
		.PTB03-carousel {
			.PTB03-carousel__item {
				padding: 0 15px;
			}

		}
	}

	@include md {
		.PTB03-carousel {
			.slick-dots {
				top: -50px;
				right: 0;
				left: auto;
				bottom: auto;
			}
		}

		.PTB-intro {
			.btn {
				position: relative;
				bottom: auto;
				right: auto;
			}
		}
	}
}