.block-PTB.block-PTB04 {
	@include theme('border-color', '.PTB04-carousel .PTB04-carousel__item .PTB04-carousel__item-image', '&');
	@include theme('border-color', '.PTB04-carousel .PTB04-carousel__item .PTB04-carousel__item-content', '&');

	.row {
		margin: 0;
		width: 100%;

		> div {
			padding: 0;
		}
	}

	.PTB04-carousel {
		padding: 0;

		.slick-dots {
			@extend .slick-dots-circle;
			text-align: center;
		}

		.PTB04-carousel__item {
			text-align: center;

			.PTB04-carousel__item-image {
				width: 50%;
				border-bottom: 4px solid;
				padding-bottom: 37px;
				margin-bottom: 25px;
				display: inline-block;

				.PTB04-carousel__item-image-wrapper {
					margin: 0 auto;
				}

				img {
					margin: 0 auto;
				}
			}

			&.PTB04-carousel__item--noimage {
				.PTB04-carousel__item-image {
					display: none;
				}
			}
		}
	}

	&.image-crop--round {
		.PTB04-carousel__item-image-wrapper {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	@media(min-width: 550px) {
		&.image-crop--round {
			.PTB04-carousel__item-image-wrapper {
				width: 372px;
				height: 372px;
			}
		}
	}

	@include md {
		.PTB04-carousel {
			position: relative;

			.slick-dots {
				position: absolute;
    			left: calc(50% + calc($bs_grid_default_spacing - 1px));
				bottom: 10px;
			}

			.PTB04-carousel__item {
				text-align: left;
				display: flex !important;
				align-items: center;
				align-items: stretch;

				.PTB04-carousel__item-image {
					width: 50%;
					border: 0;
					border-right: 2px solid;
					padding: 20px calc($bs_grid_default_spacing - 1px);
					margin: 0;
					display: flex;
					align-items: center;
				}

				.PTB04-carousel__item-content {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-left: 2px solid;
					padding: 30px calc($bs_grid_default_spacing - 1px);
				}

				&.PTB04-carousel__item--noimage {
					.PTB04-carousel__item-content {
						border: 0;
					}
				}
			}
		}
	}
}