.block-PTB17 {
	.event-card {
		height: 100%;
	}

	.row {
		margin: 0 -18px;
		width: calc(100% + 36px);

		> div {
			padding: 0 18px 36px;
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.PTB17-grid-none {
		display: none;

		&.active {
			display: block;
		}
	}

	.PTB17-post-content {
		display: none;
	}
}