.block-SB01 {
	@include theme('color', '.SB01-side__content .fa', '&');
	padding: 0;

	.row {
		margin: 0;
		width: 100%;

		> div {
			padding: 0;
		}
	}

	.SB01-main {
		position: relative;

		.half-container {
			padding-top: 20px;
			padding-bottom: 40px;
		}

		.SB01-main-icon {
			position: absolute;
			top: 0;
			right: 0;

			& + .btn {
				color: #818181;
				display: inline-block;
				margin-bottom: 20px;
			}
		}
	}

	.SB01-image {
		width: 100%;
		height: 115px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}

		.SB01-image-block {
			display: none;
			width: 70px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			background: $color-red;
		}

		.SB01-image-block-overlay {
			display: none;
			width: 37px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 55px;
			z-index: 3;
			background: $color-dark-2;
			opacity: .6;

		}
	}

	.SB01-side {
		background: $color-lightgrey-2;
		height: 100%;

		.SB01-side__content {
			padding: 24px 0;

			p {
				margin: 0;
			}

			.icon-short-text {
				margin: 0 0 20px;
			}
		}
	}

	@include md {
		.SB01-image {
			height: 183px;

			.SB01-image-block {
				display: block;
				right: auto;
				left: 0;
			}

			.SB01-image-block-overlay {
				display: block;
				right: auto;
				left: 53px;
			}
		}

		.SB01-side {
			.SB01-side__content {
				padding: 24px 0 24px 33px;
			}
		}

		.SB01-main {
			.half-container {
				padding-top: 40px;
				padding-right: 20px;
			}

			.SB01-main-topbtn {
				margin-bottom: 30px;
			}
		}
	}

	@include lg {
		.SB01-side {
			.SB01-side__content {
				column-count: 2;
				column-gap: 20px;
			}
		}

	}
}