.block-TB01 {
	.block__content {
		margin: 0 -30px;
		width: calc(100% + 60px);
	}

	.block-TB01__column {
		margin-bottom: 60px;
		padding: 0 30px;
	}

	@include lg {
		.block__content {
			display: flex;
		}

		.block-TB01__column {
			flex: 1 1 0;
			margin: 0;
		}
	}
}