.block-TB11 {
	.TB__media-main {
		p {
			margin: 0;
		}
	}
	
	.TB__media-description {
		margin-top: 10px;

		p {
			font-size: 14px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.TB__main {
		padding: 30px 0;

		.h3,
		h3 {
			margin: 0;
			color: $color-grey;
		}
	}

	.slick-slide {
		padding-bottom: 20px;
	}	

	.slick-dots {
		@extend .slick-dots-circle;
	}

	@include lg {
		&.media-align--left {
			.row {
				> div {
					&:first-child {
						order: 2;
					}

					&:last-child {
						order: 1;
					}
				}
			}
		}	
	}
}