<div id="block-{{ blockCount }}" class="block block-AC block-AC04">
	<div class="container">
		<div class="block__content">
			AC04
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>