<div id="block-{{ blockCount }}" class="block block-CO block-CO04">
	<div class="container">
		<div class="block__content text-center">
			{{{content.[0].content}}}
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>