<div id="block-{{ blockCount }}" class="block block-CO block-CO06">
	<div class="container">
		<div class="block__content">
			<div class="block-intro CO06-intro">{{{content.[0].content}}}</div>
			<div class="row">
				{{#each content}}
					{{#if @index includeZero=false}}
						<div class="col-12 col-lg-4">
							<div class="co-features">{{{content}}}</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>