<div id="block-{{ blockCount }}" class="block block-CO block-CO10">
	<div class="container">
		<div class="block__content">
			<div class="CO10-main">
				<div class="CO10-social">
					<h4 class="CO10-social__heading">Connect with us</h4>
					<ul class="CO10-social__links color--white">
						<li><a href="https://twitter.com/wmgwarwick" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
						<li><a href="https://www.linkedin.com/company/wmg-university-of-warwick/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x fa-fw"></i></a></li>
					</ul>
				</div>
				<div class="CO10-content">
					{{{content.[0].content}}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>