<div id="block-{{ blockCount }}" class="block block-FB block-FB02">
	<div class="container">
		<div class="block__content">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 FB02__img">{{{content.[0].content}}}</div>
				<div class="col-12 col-lg-6 FB02__main">{{{content.[1].content}}}</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>