<div id="block-{{ blockCount }}" class="block block-FB block-FB04">
	<div class="block__content">
		<div class="row">
			{{#each content}}
				<div class="col-12 col-lg-6">
					<div class="FB04__article bg--dark color--white">
						<div class="FB04__article-img"></div>
						<div class="FB04__article-content">{{{content}}}</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Loop through each article
		$('.FB04__article', $block).each(function() {
			// Move image to image wrapper
			$('.FB04__article-content img', $(this)).unwrap('p').appendTo($('.FB04__article-img', $(this)));
		});
	});
</script>