<div id="block-{{ blockCount }}" class="block block-FB block-FB14">
	<div class="container">
		<div class="block__content">
			FB14
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>