<div id="block-{{ blockCount }}" class="block block-IG block-IG02">
	<div class="container">
		<div class="block__content">
			<div class="row">
				{{#each content}}
					<div class="col-12 col-sm-6 col-md-3"><div class="IG02__item">{{{ this.content }}}</div></div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>