<div id="block-{{ blockCount }}" class="block block-IG block-IG02">
	<div class="container">
		<div class="block__content">
			<div class="IG02-grid">
				{{#each content}}
					<div class="IG02-grid__item"><div class="IG02__item">{{{ this.content }}}</div></div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');


	});
</script>