<div id="block-{{ blockCount }}" class="block block-IG block-IG05">
	<div class="container">
		<div class="block__content">
			<div class="IG05-grid">
			{{#each content}}
				<div class="IG05-grid__item"><span class="large-stat strong-color--theme">{{{ this.content }}}</span></div>
			{{/each}}
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>