<div id="block-{{ blockCount }}" class="block block-IG block-IG05">
	<div class="container">
		<div class="block__content">
			IG05
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>