<div id="block-{{ blockCount }}" class="block block-IG block-IG07">
	<div class="block__content">
		<div class="row align-items-center">
			<div class="col-12 col-md-6">
				<div class="IG07__image">{{{content.[0].content}}}</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="half-container half-container--md half-container--right">
					<div class="IG07__main">
						<div class="row justify-content-center">
							{{#each content}}
								{{#if @index includeZero=false}}
									<div class="col-12 col-sm-6"><div class="IG07-item large-stat strong-color--theme">{{{ this.content }}}</div></div>
								{{/if}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>