<div id="block-{{ blockCount }}" class="block block-IN block-IN01">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="block__content">
					{{#each content}}
						{{{ this.content }}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}', ['blockBG']);
	});
</script>