<div id="block-{{ blockCount }}" class="block block-MB block-MB01">
	<div class="block__content">
		{{{content.[0].content}}}
		<div class="d-none d-md-block MB01-img"></div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		// Get image url and remove image element
		var $img = $('img', $block);
		var imgSrc = $img.attr('src');
		$img.unwrap('p').wrap('<div class="d-md-none MB01-mobile-img"></div>');

		// Add background image
		$('.MB01-img', $block).css('background-image', 'url(' + imgSrc + ')');
		 
	});
</script>