<div id="block-{{ blockCount }}" class="block block-MB block-MB08">
	<div class="block__content">
		<div class="MB08-bg">{{{content.[0].content}}}</div>
		<div class="container">
			<div class="MB08-content">{{{content.[1].content}}}</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>