<div id="block-{{ blockCount }}" class="block block-MB block-MB13">
	<div class="container">
		<div class="block__content">
			<div class="video-wrapper">{{{content.[0].content}}}</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');		 
	});
</script>