<div id="block-{{ blockCount }}" class="block block-PTB block-PTB09">
	<div class="container">
		<div class="block__content">
			PTB09
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>