<div id="block-{{ blockCount }}" class="block block-PTB block-PTB01">
	<div class="container">
		<div class="block__content">
			<div class="PTB-carousel PTB01-carousel">
				{{#each content}}
					<div class="PTB01-carousel__item">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="PTB01-carousel__item-image"></div>
							</div>
							<div class="col-12 col-md-6">
								<div class="PTB01-carousel__item-content">{{{content}}}</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		$('.PTB01-carousel__item', $block).each(function() {
			$('img', $(this)).appendTo($('.PTB01-carousel__item-image', $(this)));
		});

		$('.PTB01-carousel', $block).slick({
			autoplay: false,
			arrows: true,
			dots: true,
			draggable: false,
			nextArrow: '<button class="slick-next slick-arrow"><svg width="19" height="34" viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 33L18 17L1 0.999998" stroke="#6D6F71"/></svg></button>',
			prevArrow: '<button class="slick-prev slick-arrow"><svg width="19" height="34" viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 1L1 17L18 33" stroke="#6D6F71"/></svg></button>',
			customPaging : function(slider, i) {
				var thumb = $(slider.$slides[i]).data();
				return '<a>0' + parseInt(i+1) + '</a>';
			}
		});
	});
</script>