<div id="block-{{ blockCount }}" class="block block-PTB block-PTB04">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="block__content">
					<h2>PTB04</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>