<div id="block-{{ blockCount }}" class="block block-PTB block-PTB16">
	<div class="block__content">
		<div class="header-article">
			{{#if content.[1].content}}
				<div class="header-article__image border-color--theme">{{{content.[1].content}}}</div>
			{{/if}}
			{{#if content.[0].content}}
				<div class="header-article__content">
					<div class="container">
						{{{content.[0].content}}}
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>