<div id="block-{{ blockCount }}" class="block block-PTB block-PTB18">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-md-9">
					<div class="PTB18-grid" data-count="12">
						<div class="row"></div>
					</div>
					<div class="PTB18-more"><button class="btn btn--theme">View More</button></div>
				</div>
				<div class="col-12 col-md-3">
					<div class="PTB18-sidebar">
						<div class="PTB18-filter">
							<h5>Topic Filter</h5>
							<label data-category="Athena Swan"></label>
							<label data-category="Careers"></label>
							<label data-category="Education"></label>
							<label data-category="HVM Catapult"></label>
							<label data-category="NAIC"></label>
							<label data-category="Public Engagement"></label>
							<label data-category="Partnerships"></label>
							<label data-category="VIP Visits"></label>
							<label data-category="WMG Academy"></label>
							<h5>Research</h5>
							<h6>Research Themes</h6>
							<label data-category="Digital"></label>
							<label data-category="Transport"></label>
							<label data-category="Materials"></label>
							<label data-category="Energy"></label>
							<label data-category="Manufacturing"></label>
							<h6>Research Capabilities</h6>
							<label data-category="Aditive Layer Manufacturing"></label>
							<label data-category="Applied Psychology"></label>
							<label data-category="Automation Systems"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');

		function ajaxPostQuery() {
			queryURL = 'https://sitebuilder.warwick.ac.uk/sitebuilder2/api/rss/news.json';
			contentURL = $block.data('content_url');
			queryString = '&num=' + $('.PTB18-grid').attr('data-count');
			scrollPosition = document.documentElement.scrollTop;

			// Get all active filters
			$('.PTB18-filter input:checked').each(function() {
				queryString = queryString + '&tag=' + $(this).val();
			});

			// Ajax query to load posts
			$.ajax({
	  			async: false,
		        url : queryURL + '?page=' + contentURL + queryString,
		        type: 'GET',
		        dataType: 'json',
		        success: function(data) {
					var posts = '';

					$.each(data.items, function(key, data) {
						// Convert timestamp to post date
						var postDateTime = new Date(data.publicationDate);
						var formattedDate = postDateTime.toLocaleString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' });

						// Get image from content string
						var formattedImage = '';
						if (data.content.indexOf('src="') >= 0) {
							var image = data.content.split('src="')[1].split('" ')[0];

							if(image != '') {
								// If image doesn't have http, set full url
								if(!image.startsWith('http')) {
									image = contentURL + image;
								}

								formattedImage = '<div class="post-card__image"><img src="' + image + '"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34.1855 35L0.867523 35L0.867528 -1.83932e-06L34.1855 35Z" fill="#E6E8EA"/></svg></div>';
							}							
						}

						posts = posts + '<div class="col-12 col-sm-6 col-md-4"><a href="' + data.url.href + '" class="post-card border-color--theme">' + formattedImage + '<div class="post-card__content"><span class="post-card__date">' + formattedDate + '</span><span class="post-card__cat">' + data.categories[0] + '</span><h4 class="post-card__heading">' + data.title + '</h4></div></a></div>';
					});

					$('.PTB18-grid > .row').html(posts);

					// Keep window in same scroll position
					window.scrollTo(0, scrollPosition);
		        },
		        error: function(data) {
		        	console.log('Could not get data from ' + contentURL);
		        },
	        });
		}

		// Load posts on launch
		ajaxPostQuery();

		// On filter change run Ajax query
	    $('.PTB18-filter').on('change', 'input', function() {
			ajaxPostQuery();
	    });

	    // Add pagination
	    $('.PTB18-more .btn').click(function() {
	    	var currentCount = parseInt($('.PTB18-grid').attr('data-count'));
	    	var newCount = currentCount + 12;
	    	$('.PTB18-grid').attr('data-count', newCount);
	    	ajaxPostQuery();
	    });

		// Loop through each filter and create checkbox
		$('#block-{{ blockCount }} .PTB18-filter label').each(function() {
			var cat = $(this).data('category');
			$(this).html('<input type="checkbox" value="' + cat + '">' + cat);
		});

			
	});
</script>