<div id="block-{{ blockCount }}" class="block block-PTB block-PTB13">
	<div class="container">
		<div class="block__content">
			<div class="PTB-headline">{{{content.[0].content}}}</div>
			<div class="PTB13-grid">
				{{#each content}}
					{{#if @index includeZero=false}}
						<div class="PTB13-item"><div class="position-block">{{{content}}}</div></div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>