<div id="block-{{ blockCount }}" class="block block-SB block-SB02">
	<div class="container">
		<div class="block__content">
			<div class="row">
				<div class="col-12 col-md-8">
					<form>
						<input type="text" placeholder="Find courses">
						<button type="submit">
							<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2552 15.5622L14.7499 12.0574C14.5917 11.8992 14.3772 11.8113 14.1522 11.8113H13.5791C14.5495 10.5705 15.1261 9.00967 15.1261 7.31179C15.1261 3.27273 11.8528 0 7.81303 0C3.77329 0 0.5 3.27273 0.5 7.31179C0.5 11.3508 3.77329 14.6236 7.81303 14.6236C9.51121 14.6236 11.0723 14.0471 12.3134 13.0768V13.6498C12.3134 13.8748 12.4013 14.0892 12.5595 14.2474L16.0648 17.7522C16.3953 18.0826 16.9297 18.0826 17.2567 17.7522L18.2517 16.7573C18.5822 16.4269 18.5822 15.8926 18.2552 15.5622ZM7.81303 11.8113C5.32731 11.8113 3.31271 9.80061 3.31271 7.31179C3.31271 4.82648 5.32379 2.81223 7.81303 2.81223C10.2988 2.81223 12.3134 4.82297 12.3134 7.31179C12.3134 9.79709 10.3023 11.8113 7.81303 11.8113Z" fill="#F4F4F4"/>
							</svg>
						</button>
					</form>
				</div>
				<div class="col-12 col-md-4">
					{{{content.[0].content}}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>