<div id="block-{{ blockCount }}" class="block block-SB block-SB04">
	<div class="container">
		<div class="block__content">
			SB04
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>