<div id="block-{{ blockCount }}" class="block block-TB block-TB01">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="block__content">
					{{#each content}}
						<div class="block-TB01__column">
							{{{ this.content }}}
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>