<div id="block-{{ blockCount }}" class="block block-TB block-TB16">
	<div class="container">
		<div class="block__content">
			<div class="TB16-intro">{{{content.[0].content}}}</div>
			<div class="TB16-row"></div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
		var $block = $('#block-{{ blockCount }}').parent('.wmg-block');
	 	var pubsData = blockPubsQuery($block);
	 	var pubsHTML = blockPubsArticles(pubsData, 'TB16-col');

	 	$('.TB16-row', $block).html(pubsHTML);
	});
</script>