<div id="block-{{ blockCount }}" class="block block-TB block-TB20">
	<div class="container">
		<div class="block__content">
			TB20
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		blockFunctions('{{ blockCount }}');
	});
</script>