// Responsive
@mixin sm {
    @media(min-width: $bs-sm) {
        @content;
    }
}

@mixin md {
    @media(min-width: $bs-md) {
        @content;
    }
}

@mixin lg {
    @media(min-width: $bs-lg) {
        @content;
    }
}

@mixin xl {
    @media(min-width: $bs-xl) {
        @content;
    }
}



// Theme
$theme-colors: ('dark': $color-dark, 'dark-2': $color-dark-2, 'red': $color-red, 'yellow': $color-yellow, 'gold': $color-gold, 'blue': $color-blue, 'orange': $color-orange, 'darkblue': $color-darkblue, 'green': $color-green, 'lightgrey-1': $color-lightgrey-1, 'lightgrey-2': $color-lightgrey-2, 'lightgrey-3': $color-lightgrey-3, 'grey': $color-grey, 'white': $color-white);
$theme-colors-alt: ('red': #EE3124, 'yellow': darken($color-yellow, 10%), 'gold': darken($color-gold, 10%), 'blue': darken($color-blue, 10%), 'orange': darken($color-orange, 10%), 'darkblue': darken($color-darkblue, 10%), 'green': darken($color-green, 10%), 'lightgrey-1': darken($color-lightgrey-1, 10%), 'lightgrey-2': darken($color-lightgrey-2, 10%), 'lightgrey-3': darken($color-lightgrey-3, 10%), 'grey': darken($color-grey, 10%), 'white': darken($color-white, 10%));
@mixin theme($property, $element : '', $type : '', $imp : '!important') {
    @each $name, $color in $theme-colors {
        #{$type}.theme--#{$name} #{$element} {
            #{$property}: #{$color} #{$imp};
        }
    }
}

@mixin themeAlt($property, $element : '', $type : '', $imp : '!important') {
    @each $name, $color in $theme-colors-alt {
        #{$type}.theme--#{$name} #{$element} {
            #{$property}: #{$color} #{$imp};
        }
    }
}

@mixin bg($property, $element : '', $type : '') {
    @each $name, $color in $theme-colors {
        #{$type}.bg--#{$name} #{$element} {
            #{$property}: $color !important;
        }
    }
}

@mixin colors($property, $class, $subElement : '') {
    @each $name, $color in $theme-colors {
        .#{$class}--#{$name} #{$subElement} {
            #{$property}: #{$color} !important;
        }
    }
}


@mixin spacing($property) {
    $count: 0;

    @while $count < 200 {
        .#{$property}--#{$count} {
            #{$property}: #{$count}px !important;
        }

        $count: $count + 5;
    }
}
