// Fonts
$font-def 	: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;

// Default Colours
$color-black	: #000;
$color-white	: #fff;

// Custom Colours
$color-dark 		: #282828;
$color-dark-2 		: #272729;
$color-lightgrey-1 	: #EEF0F3;
$color-lightgrey-2 	: #D9DDE0;
$color-lightgrey-3 	: #E6E8EA;
$color-grey 		: #6D6E71;
$color-darkgrey 	: #4D4D4F;
$color-red 			: #E32619;
$color-gold 		: #fbb034;
$color-yellow 		: #fbb034;
$color-blue 		: #009ddc;
$color-orange 		: #F47920;
$color-darkblue 	: #17427F;
$color-green 		: #C1D82F;

$color-text  	: $color-dark;

// Alt colours
$color-alt-red			: #DE0905;
$color-alt-yellow		: darken($color-yellow, 10%);
$color-alt-gold			: darken($color-gold, 10%);
$color-alt-blue			: darken($color-blue, 10%);
$color-alt-orange		: darken($color-orange, 10%);
$color-alt-darkblue		: darken($color-darkblue, 10%);
$color-alt-green		: darken($color-green, 10%);
$color-alt-lightgrey-1	: darken($color-lightgrey-1, 10%);
$color-alt-lightgrey-2	: darken($color-lightgrey-2, 10%);
$color-alt-lightgrey-3	: darken($color-lightgrey-3, 10%);
$color-alt-grey			: darken($color-grey, 10%);
$color-alt-white		: darken($color-white, 10%);

// Bootstrap Breakpoints
$bs-lg 	: 1200px;
$bs-md  : 992px;
$bs-sm	: 768px;

// Transition
$global-transition	: all .3s; 

// Misc
$container_width : 1170px;
$bs_grid_default_spacing : 30px;

// File Path
$file_path : 'https://warwick.ac.uk/fac/sci/wmg-2021/'