.container {
    width: $container_width;
    max-width: 86%;
    padding: 0;
    margin: 0 auto;
}

.half-container {
    width: 100%;
    margin: 0;
    padding: 0 7vw;
    position: relative;

    &.half-container--md {
        @include md {
            &.half-container--left {
                padding-right: 0;
            }
            
            &.half-container--right {
                padding-left: 0;
            }
        }
    }

    &.half-container--lg {
        @include lg {
            &.half-container--left {
                padding-right: 0;
            }
            
            &.half-container--right {
                padding-left: 0;
            }
        }
    }

    @media(min-width: $container_width * 1.1) {
        &.half-container--left {
            padding-left: calc(50vw - ($container_width / 2));
        }
        
        &.half-container--right {
            padding-right: calc(50vw - ($container_width / 2));
        }
    }
}

.grid-default-padding-left {
    padding-left: $bs_grid_default_spacing !important;
}

.grid-default-padding-right {
    padding-right: $bs_grid_default_spacing !important;
}

@include md {
    .grid-default-padding-md-left {
        padding-left: $bs_grid_default_spacing !important;
    }

    .grid-default-padding-md-right {
        padding-right: $bs_grid_default_spacing !important;
    }
}

@include lg {
    .grid-default-padding-lg-left {
        padding-left: $bs_grid_default_spacing !important;
    }

    .grid-default-padding-lg-right {
        padding-right: $bs_grid_default_spacing !important;
    }
}