.id7-fixed-width-container {
	width: 100%;
}

html.ie-or-edge .id7-masthead, 
html.no-svgfilters .id7-masthead, 
html.safari .id7-masthead {
	background: #fff !important;
}

.wmg-header__menu-button {
	border: 0;
	background: none;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
	margin-left: 16px;

	@include lg {
		display: none;
	}
}

.id7-utility-bar {
	width: 100%;
	height: auto;
	line-height: 1;
	background: #3C3C3E;
	font-size: 11px;
	padding: 5px 0;
	position: relative;
	z-index: 1000;

	> ul > li {
		margin-left: 4px;
		padding-left: 7px;
		border-left: 1px solid #fff;
		color: #fff;
		font-size: 11px;

		&:before {
			display: none;
		}

		&:first-child {
			margin-left: 0;
			padding-left: 0;
			border-left: 0;
		}
	}

	ul {
		width: 90%;
		max-width: 90%;
		margin: 0 auto;
		float: none !important;
		text-align: right;
	}
}

.id7-masthead {
	width: 100%;
	background: #fff;
	padding: 0;
	position: relative;
	z-index: 999;

	.id7-masthead-contents {
		width: 90%;
		max-width: 90%;
		margin: 0 auto;
		position: relative;

		&:before {
			content: '';
			background: no-repeat center / contain;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTgiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCA1OCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYuMTUxMiAyOS4yMTkyTDAuMzA3OTA2IDAuMjg3NzMyTDMxLjY1MDQgMC4yODc3MzFMMTYuMTUxMiAyOS4yMTkyWiIgZmlsbD0iIzNjM2MzZSIvPjxwYXRoIGQ9Ik00Mi4zMjkgMjkuMjE5MkwyNi40ODU2IDAuMjg3NzMyTDU3LjgyODEgMC4yODc3MzFMNDIuMzI5IDI5LjIxOTJaIiBmaWxsPSIjM2MzYzNlIi8+PC9zdmc+") !important;
			width: 58px;
			height: 29px;
			position: absolute;
			top: -1px;
			left: 30px;
			z-index: 1;
		}

		> .clearfix:first-of-type {
			display: flex;
			width: 100%;
			padding: 35px 0 11px;    
			align-items: center;
		} 
	}

	.id7-logo-column {
		float: none;
		width: auto;
		flex:  1;
		padding: 0;

		&:before {
			content: '';
			background: url($file_path + 'logo.svg') no-repeat center / contain;
			width: 165px;
			height: 45px;
			display: block;
		}
	}

	.id7-logo-row {
	    float: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 165px;
	    height: 45px !important;
	    margin: 0 !important;

		>.id7-logo {
			float: none;
			width: 100%;
			height: 100%;

			a {
				width: 100%;
				height: 100%;
			}
		}
	}

	.id7-search-column {
		float: none;
		width: auto;
		padding: 0 0 0 23px;
		margin: 0;
	}
}

.id7-header-text {
	display: none;
}

.id7-search {
	form {
		margin:  0;

		input {
			display: none;
		}
	}

	.id7-search-box-container {
		margin: 0;
		flex-flow: row;
		width: 100%;
	}

	.form-group {
		width: 100%;
	}

	.input-lg {
		background: #C4C4C4;
		color: #1D1D1D;
		border: 0;
		width: 150px;
		height: 30px;
		padding: 0 10px;
		line-height: 30px;
		flex: 1;
		margin: 0 8px 0 0;
		font-size: 14px;

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #1D1D1D;
		}

		::-moz-placeholder { /* Firefox 19+ */
		  color: #1D1D1D;
		}

		:-ms-input-placeholder { /* IE 10+ */
		  color: #1D1D1D;
		}

		:-moz-placeholder { /* Firefox 18- */
		  color: #1D1D1D;
		}

		&:focus {
			box-shadow: none;
		}
	}

	label {
		display: none;
	}

	.fas {
		color: #4D4D4F;
		font-size: 28px;
	}

	.search-button {
		position: relative;
		top: auto;
		right: auto;

		&:focus {
			background: transparent !important;
			outline: none !important;
			box-shadow: none !important;

			.fas {
				color: #4D4D4F !important;
			}
		}
	}
}

.id7-navigation {
	.navbar-nav {
		max-width: 90%;
		width: 90%;
		margin: 0 auto;
		float: none;

		> li {
			&:last-child+li:before,
			&:not(.nav-breadcrumb):not(:last-child):after {
				border-color: #1D1D1D;
			}

			&:focus,
			&:hover {
				background: transparent !important;
			}

			> a {
				&:focus,
				&:hover {
					background: transparent !important;
				}
			}

			&.dropdown > a:after {
				display: none;
			}
		}
	}

	.navbar-primary {
		background: transparent;
		color: #1D1D1D;

		.navbar-nav > li {
			&:hover,
			&:focus {
				background: transparent !important;
			}

			> a, 
			a:focus, 
			a:hover {
				color: #1D1D1D !important;
			}

			&.active {
				a {
					text-decoration: none;
				}

				&.next-tertiary {
					&:before {
						display: none;
					}
				}
			}

			&:before {
				display: none !important;
			}
		}

		.dropdown-menu {
			display: none !important;
		}
	}

	.navbar-secondary {
		background: #E9ECEF;

		.navbar-nav > li {
			padding: 17px 0;
			position: relative;
			margin: 0 0 0 25px;
			font-size: 13px;
			padding: 8px 10px;

			> a, 
			> a:focus, 
			> a:hover {
				color: #1D1D1D !important;
			}

			&.active {
				a {
					font-weight: normal;
				}
			}

			&:first-child {
				background: transparent;
				margin: 0;
				padding-left: 0;
				display: inline-block !important;

				&:after {
					display: none;
				}
			}

			&:before {
				display: none !important;
			}

			&:after {
				content: '' !important;
				position: absolute !important;
				left: -17px !important;
				top: 50% !important;
				margin-top: -8px !important;
				width: 9px !important;
				height: 16px !important;
				background: no-repeat center / contain !important;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDkgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguNjkzNTYgOC43OTY2M0wyLjc3MTU3IDE1LjE2OTZDMi4zNjIyNiAxNS42MTAxIDEuNzAwMzkgMTUuNjEwMSAxLjI5NTQzIDE1LjE2OTZMMC4zMTEzMzkgMTQuMTEwNkMtMC4wOTc5NzQ2IDEzLjY3MDEgLTAuMDk3OTc0NiAxMi45NTc4IDAuMzExMzM5IDEyLjUyMkw0LjUwNDYzIDhMMC4zMDY5ODUgMy40ODI2NkMtMC4xMDIzMjggMy4wNDIxNyAtMC4xMDIzMjggMi4zMjk5IDAuMzA2OTg1IDEuODk0MUwxLjI5MTA4IDAuODMwMzY1QzEuNzAwMzkgMC4zODk4NzkgMi4zNjIyNiAwLjM4OTg3OSAyLjc2NzIyIDAuODMwMzY2TDguNjg5MiA3LjIwMzM3QzkuMTAyODcgNy42NDM4NiA5LjEwMjg3IDguMzU2MTQgOC42OTM1NiA4Ljc5NjYzWiIgZmlsbD0iIzI3MjcyOSIvPjwvc3ZnPg==") !important;
			}
		}
	}

	.navbar-tertiary {
		background: #3C3C3E;

		.navbar-nav > li {
			font-size: 13px;
			padding: 8px 10px;

			> a,
			> a:focus, 
			> a:hover {
				color: #fff !important;
			}

			&:last-child+li:before,
			:not(.nav-breadcrumb):not(:last-child):after {
				border-color: #fff;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.affix {
		position: relative !important;
		top: auto !important;
		width: inherit !important;
		z-index: 100 !important;
	}
}

.id7-navigation-marker {
	display: none !important;
}

@include md {
	.id7-utility-bar {
		font-size: 13px;

		ul {
			li {
				font-size: 13px;
			}
		}
	}

	.id7-masthead {
		.id7-masthead-contents {

			> .clearfix:first-of-type {
				padding-top: 50px;
			} 
		}
	}
}

@media(min-width: 1300px) {
	.id7-search {
		margin-top: -30px;

		form {
			input {
				display: block;
			}
		}
	}

	.id7-navigation {
		.navbar-nav {
			font-size: 16px;

			> li {
				padding: 16px 17px;
			}
		}

		.navbar-primary {
			position: absolute;
		    top: -55px;
		    left: calc(7vw + 200px);
		    z-index: 100;
		    width: calc(90% - 430px);

		    .navbar-nav {
				width: 100%;
				max-width: 100%;
				margin: 0;

		    	> li {
					padding: 0 11.5px;
					position: relative;

			    	&:last-child+li:before,
			    	&:not(.nav-breadcrumb):not(:last-child):after {
			    		display: none;
			    	}

			    	a {
						position: relative;
						display: block;
			    	}

			    	&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						text-transform: uppercase;
						font-weight:  bold;
						padding: 0 10px;	

						a:after {
							content: '';
							display: block;
							width: 100%;
							height: 8px;
							position: absolute;
							bottom: -15px;
							border: 0;
							background: #E9ECEF;							
						}					
					}

					&:nth-child(1) {
						a:after {
							background-color: #EE3224 !important;
						}
					}

					&:nth-child(2) {
						a:after {
							background-color: #FCB034 !important;
						}
					}

					&:nth-child(3) {
						padding-right: 10px;

						a:after {
							background-color: #009DDC !important;
						}
					}

					&:nth-child(4) {
						padding-left: 10px;

						&:before {
							content: '';
							width: 1px;
							height: 18px;
							background: #4D4D4F;
							display: inline-block;
							margin: 0 20px;							
						}
					}
			    }
		    }
		}
	}
}