.id7-fixed-width-container {
	width: 100%;
}

html.ie-or-edge .id7-masthead, 
html.no-svgfilters .id7-masthead, 
html.safari .id7-masthead,
.id7-page-header .id7-masthead {
	background: transparent;
}

.id7-utility-masthead {
	background: transparent !important;
	position: static;

	&:after {
		display: none;
	}
}

.id7-page-header {
	background: $color-white;
}

.wmg-header__menu-button {
	border: 0;
	background: none;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
	margin-left: 16px;

	@include lg {
		display: none;
	}
}

.id7-site-links {
	display: none !important;
}

.id7-utility-bar {
	background: #3C3C3E;
	position: relative;
	z-index: 41;

	a:not(.btn):focus {
		color: $color-white !important;
	}
}

.id7-masthead {
	width: 100%;
	background: transparent;
	padding: 0;
	position: relative;
	z-index: 40;

	.id7-masthead-contents {
		width: 90%;
		max-width: 90%;
		margin: 0 auto;
		position: relative;

		&:before {
			content: '';
			background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTgiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCA1OCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYuMTUxMiAyOS4yMTkyTDAuMzA3OTA2IDAuMjg3NzMyTDMxLjY1MDQgMC4yODc3MzFMMTYuMTUxMiAyOS4yMTkyWiIgZmlsbD0iIzNjM2MzZSIvPjxwYXRoIGQ9Ik00Mi4zMjkgMjkuMjE5MkwyNi40ODU2IDAuMjg3NzMyTDU3LjgyODEgMC4yODc3MzFMNDIuMzI5IDI5LjIxOTJaIiBmaWxsPSIjM2MzYzNlIi8+PC9zdmc+') no-repeat center / contain;
			width: 83px;
			height: 42px;
			position: absolute;
			top: -1px;
			left: 43px;
			z-index: 1;
		}

		> .clearfix:first-of-type {
			display: flex;
			width: 100%;
			padding: 50px 0 18px;    
			align-items: center;
		} 
	}

	.id7-logo-column {
		float: none;
		width: auto;
		flex:  1;
		padding: 0;
		margin: 0;

		&:before {
			content: '';
			background: url($file_path + 'logo.svg') no-repeat left center / contain;
			width: 165px;
			height: 45px;
			display: block;
		}
	}

	.id7-logo-row {
	    float: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 165px;
	    height: 45px !important;
	    margin: 0 !important;

		>.id7-logo {
			float: none;
			width: 100%;
			height: 100%;

			a {
				width: 100%;
				height: 100%;
			}
		}
	}

	.id7-search-column {
		float: none;
		width: auto;
		padding: 0 0 0 23px;
		margin: 0;
	}
}

.id7-header-text {
	display: none;
}

.id7-search {
	form {
		margin:  0;

		input {
			display: none;
		}
	}

	.id7-search-box-container {
		margin: 0;
		flex-flow: row;
		width: 100%;
	}

	.form-group {
		width: 100%;
	}

	.input-lg {
		background: #C4C4C4;
		color: #1D1D1D;
		border: 0;
		width: 150px;
		height: 30px;
		padding: 0 10px;
		line-height: 30px;
		flex: 1;
		margin: 0 8px 0 0;
		font-size: 14px;

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #1D1D1D;
		}

		::-moz-placeholder { /* Firefox 19+ */
		  color: #1D1D1D;
		}

		:-ms-input-placeholder { /* IE 10+ */
		  color: #1D1D1D;
		}

		:-moz-placeholder { /* Firefox 18- */
		  color: #1D1D1D;
		}

		&:focus {
			box-shadow: none;
		}
	}

	label {
		display: none;
	}

	.fas {
		color: #4D4D4F;
		font-size: 28px;
	}

	.search-button {
		position: relative;
		top: auto;
		right: auto;

		&:focus {
			background: transparent !important;
			outline: none !important;
			box-shadow: none !important;

			.fas {
				color: #4D4D4F !important;
			}
		}
	}
}

.id7-navigation {
	z-index: 39;

	&.affix {
		position: relative;
		top: auto;
		left: auto;
		width: 100% !important;
		z-index: 39;

		&.headroom--unpinned {
			transform: none;
		}

		&.headroom {
			transform: none;
		}
	}

	.navbar {
		border: 0;
	}

	.navbar-nav {
		max-width: 90%;
		width: 90%;
		margin: 0 auto;
		float: none;

		> li {

			&:focus,
			&:hover {
				background: transparent !important;
			}

			> a {
				&:focus,
				&:hover {
					background: transparent !important;
				}
			}

			&.dropdown > a:after {
				display: none;
			}
		}
	}

	.navbar-primary {
		background: transparent !important;
		color: #1D1D1D;

		.navbar-nav > li {
			&:hover,
			&:focus {
				background: transparent;
			}

			&:last-child+li:before,
			&:not(.nav-breadcrumb):not(:last-child):after {
				border-color: #1D1D1D;
			}

			> a,
			> a:hover,
			> a:focus {
				color: #1D1D1D !important;
			}

			&:first-child {
				padding-left: 0;
			}

			&.active {
				> a {
					text-decoration: none;
					font-weight: bold;
					text-decoration: underline;

					&:after {
						display: none !important;
					}
				}

				&.next-tertiary {
					&:before {
						display: none;
					}
				}
			}

			&:before {
				display: none;
			}

			&:hover {
				> .dropdown-menu {
					display: block;
				}
			}

			.dropdown-menu {
				display: none;
				background: $color-dark;
				color: $color-white;
				padding: 9px 7px;
				font-size: 14px;
				top: 100%;

				&:before {
					content: '';
					background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxNCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQgMTlMLTEuOTA3MzVlLTA2IDE5TC0yLjQ2MzE2ZS0wNyA2LjgzNDI5ZS0wN0wxNCAxOVoiIGZpbGw9IiNlNmU4ZWEiPjwvcGF0aD48L3N2Zz4=') no-repeat center / contain;
					width: 13px;
					height: 13px;
					display: block;
					margin-bottom: 5px;
					
				}

				> li {
					padding: 0;

					&:hover {
						background: none;
					}

					> a {
						padding: 0;

						&:hover {
							background: none;
						}

						&:after {
							content: '>';
							display: inline-block;
							margin-left: 4px;
						}
					}
				}
			}

			&:nth-child(1) {
				.dropdown-menu:before {
					background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxNCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQgMTlMLTEuOTA3MzVlLTA2IDE5TC0yLjQ2MzE2ZS0wNyA2LjgzNDI5ZS0wN0wxNCAxOVoiIGZpbGw9IiNFRTMxMjQiPjwvcGF0aD48L3N2Zz4=');
				}

				> a:after {
					background-color: $color-red;
				}
			}

			&:nth-child(2) {
				.dropdown-menu:before {
					background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxNCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQgMTlMLTEuOTA3MzVlLTA2IDE5TC0yLjQ2MzE2ZS0wNyA2LjgzNDI5ZS0wN0wxNCAxOVoiIGZpbGw9IiNmY2IwMzQiPjwvcGF0aD48L3N2Zz4');
				}

				> a:after {
					background-color: $color-gold;
				}
			}

			&:nth-child(3) {
				.dropdown-menu:before {
					background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxNCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQgMTlMLTEuOTA3MzVlLTA2IDE5TC0yLjQ2MzE2ZS0wNyA2LjgzNDI5ZS0wN0wxNCAxOVoiIGZpbGw9IiMwMDlkZGMiPjwvcGF0aD48L3N2Zz4=');
				}

				> a:after {
					background-color: $color-blue;
				}
			}
		}
	}

	.navbar-secondary {
		background: #E9ECEF;

		.navbar-nav > li {
			padding: 17px 0;
			position: relative;
			margin: 0;
			font-size: 13px;
			padding: 8px 0;
			line-height: 1.2;

			> a, 
			> a:focus, 
			> a:hover {
				color: #1D1D1D !important;
				border-bottom: 1px solid;
			}

			&.active {
				a {
					font-weight: bold;
					border-color: transparent;
				}
			}

			&:first-child {
				background: transparent;
				margin: 0;
				padding-left: 0;
				display: inline-block;

				&:before {
					display: none;
				}
			}

			&:after {
				display: none;
			}

			&:before {
				content: '>';
				position: relative;
				color: $color-dark;
				vertical-align: middle;
				display: inline-block;
				border: 0;
				bottom: auto;
				left: auto;
				margin: 3px 10px 0;
				width: auto;
				height: auto;
			}
		}
	}

	.navbar-tertiary {
		background: #3C3C3E;

		.navbar-nav > li {
			font-size: 13px;
			padding: 8px 10px;

			> a,
			> a:focus, 
			> a:hover {
				color: #fff !important;
			}

			&:last-child+li:before,
			&:not(.nav-breadcrumb):not(:last-child):after {
				border-color: $color-white;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.affix {
		position: relative !important;
		top: auto !important;
		width: inherit !important;
		z-index: 100 !important;
	}
}

.id7-navigation-marker {
	display: none !important;
}

@include md {
	.id7-utility-bar {
		font-size: 13px;

		ul {
			li {
				font-size: 13px;
			}
		}
	}

	.id7-masthead {
		.id7-masthead-contents {

			> .clearfix:first-of-type {
				padding-top: 50px;
			} 
		}
	}
}

@media(min-width: 1380px) {
	.id7-search {
		margin-top: -30px;

		form {
			input {
				display: block;
			}
		}
	}

	.id7-masthead {
		.id7-masthead-contents {
			> .clearfix:first-of-type {
				align-items: flex-end;
			} 
		}

		.id7-search-column {
			padding-bottom: 12px;
		}
	}

	.id7-navigation {
		.navbar-nav {
			font-size: 16px;

			> li {
				padding: 16px 17px;
			}
		}

		.navbar-primary {
			position: absolute;
		    top: -55px;
		    left: calc(4vw + 200px);
		    z-index: 100;
		    width: calc(90% - 390px);

		    .navbar-nav {
				width: 100%;
				max-width: 100%;
				margin: 0;

		    	> li {
					padding: 0 0 22px;
					margin: 0 6px;
					position: relative;

			    	&:last-child+li:before,
			    	&:not(.nav-breadcrumb):not(:last-child):after {
			    		display: none;
			    	}

			    	> a {
						position: relative;
						display: block;

						&:after {
							content: '';
							display: none;
							width: 100%;
							height: 8px;
							position: absolute;
							bottom: -15px;
							border: 0;
							background: $color-lightgrey-3;	
							margin: 0;						
						}
			    	}

			    	&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						margin: 0 8px;		

						> a {
							text-transform: uppercase;
							font-weight:  bold;

							&:after {
								display: block;
							}
						}

						&.active {
							> a {
								text-decoration: none;

								&:after {
									display: block !important;
								}
							}
						}			
					}

					&:nth-child(1) {
						margin-left: 0;

						> a:after {
							background-color: #EE3224;
						}
					}

					&:nth-child(2) {
						> a:after {
							background-color: #FCB034;
						}
					}

					&:nth-child(3) {
						margin-right: 15px;

						> a:after {
							background-color: #009DDC;
						}
					}

					&:nth-child(4) {
						&:before {
							content: '';
							width: 1px;
							height: 15px;
							background: #4D4D4F;
							display: inline-block !important;
							vertical-align: middle;
							margin: 2px 20px 0 0;		
						    border: 0;
						    position: relative;
						    left: auto;
						    bottom: auto;				
						}
					}

					&:hover {
						> a:after {
							display: block;
						}
					}

					&.active {						
						&:hover > a:after {
							display: block !important;
						}
					}
			    }
		    }
		}
	}
}

body.in-study {
	.id7-navigation .navbar-primary .navbar-nav > li {
		&:nth-child(2),
		&:nth-child(3) {
			> a:after {
				background-color: $color-lightgrey-3;
			}
		}

		&:nth-child(2):hover {
			> a:after {
				background-color: $color-gold;
			}
		}

		&:nth-child(3):hover {
			> a:after {
				background-color: $color-blue;
			}
		}
	}
}

body.in-research {
	.id7-navigation .navbar-primary .navbar-nav > li {
		&:nth-child(1),
		&:nth-child(3) {
			> a:after {
				background-color: $color-lightgrey-3;
			}
		}

		&:nth-child(1):hover {
			> a:after {
				background-color: $color-red;
			}
		}

		&:nth-child(3):hover {
			> a:after {
				background-color: $color-blue;
			}
		}
	}
}

body.in-for-business {
	.id7-navigation .navbar-primary .navbar-nav > li {
		&:nth-child(1),
		&:nth-child(2) {
			> a:after {
				background-color: $color-lightgrey-3;
			}
		}

		&:nth-child(1):hover {
			> a:after {
				background-color: $color-red;
			}
		}

		&:nth-child(2):hover {
			> a:after {
				background-color: $color-gold;
			}
		}
	}
}