// Hide until body class is added
.id7-main-content-area {
	display: none;
}

body.id7-main-content-area {
	display: block;
}

body.page-frontend {
    .id7-right-border,
    .id7-left-border {
    	display: none;
    }

    .id7-main-content-area {
    	display: block;
    }

    .id7-main-content {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    aside {
        padding: 20px;
    }

	table {
		.uneditable-input, 
		audio, 
		iframe, 
		img, 
		input, 
		pre, 
		select, 
		textarea, 
		video {
			max-width: 100% !important;
		}
	}	
}

body.page-datalist {
	.id7-main-content-area {
		display: block;
	}
}