h1,
.h1 {
	font-size: 40px;
	line-height: 1.4;
	margin: 0 0 20px;
	font-weight: 300;
	color: inherit;
	border: 0;
	padding: 0;
}

h2,
.h2 {
	font-size: 29px;
	line-height: 1.4;
	margin: 0 0 15px;
	font-weight: normal;
	color: inherit;
}

h3,
.h3 {
	font-size: 24px;
	line-height: 1.4;
	margin: 0 0 15px;
	font-weight: normal;
	color: inherit;
}

h4,
.h4 {
	font-size: 22px;
	line-height: 1.4;
	margin: 0 0 15px;
	font-weight: normal;
	color: inherit;
}

h5,
.h5 {
	font-size: 20px;
	line-height: 1.4;
	margin: 0 0 15px;
	font-weight: normal;
	color: inherit;
}

h6,
.h6 {
	font-size: 18px;
	line-height: 1.4;
	margin: 0 0 15px;
	font-weight: normal;
	color: inherit;
}

p {
	font-size: 16px;
	margin: 0 0 15px;

	strong {
		font-weight: bold;
	}
}

ul,
ol {
	margin: 0 0 15px;
	font-size: 16px;

	li {
		margin: 0 0 10px;
	}
}

a,
a:link, 
a:visited {
    color: inherit;
    text-decoration: underline;

    &:not(.btn):focus {
    	background: inherit !important;
        outline: none !important;
        box-shadow: none !important;
        color: inherit !important;
    }
}

blockquote {
	font-size: 20px;
	line-height: 28px;
	font-style: normal;
	display: block;
	padding: 0;
	margin: 30px 0;

	cite {
		font-size: 14px;
		line-height: 21px;
		font-style: normal;
		display: block;
		margin: 25px 0 0;
	}
}