table {
	.uneditable-input, 
	audio, 
	iframe, 
	img, 
	input, 
	pre, 
	select, 
	textarea, 
	video {
		max-width: 100% !important;
	}
}

.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6, 
a, 
a:link, 
a:visited, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: inherit;
}
	
// Fix to content page containers
#entries .datalist.panel {
	margin: 0 auto;

	& + hr {
		margin: 0 auto;

		& + #adminOptions {
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 768px) {
	#entries .datalist.panel {
	    width: 710px;

		& + hr {
			& + #adminOptions {
				width: 710px;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	#entries .datalist.panel {
	    width: 930px;

		& + hr {
			& + #adminOptions {
				width: 930px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	#entries .datalist.panel {
	    width: 1130px;

		& + hr {
			& + #adminOptions {
				width: 1130px;
			}
		}
	}
}