.btn {
	cursor: pointer;
	display: inline-block;
	padding: 7px 29px;
	text-decoration: none !important;
	border-radius: 0;
	transition: all .3s;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	max-width: 100%;
    white-space: pre-wrap;
    margin-bottom: 5px;

	&:hover {
		opacity: .4;
	}

	&.btn--red {
		background-color: $color-red;
		color: $color-white;

		svg path {
			color: $color-white;
		}

		&:focus {
    		background-color: $color-red !important;
    		color: $color-white !important;
    	}
	}
	
	&.btn--gold {
		background-color: $color-gold;
		color: $color-dark;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-gold !important;
			color: $color-dark !important;
    	}
	}
	
	&.btn--blue {
		background-color: $color-blue;
		color: $color-dark;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-blue !important;
			color: $color-dark !important;
    	}
	}
	
	&.btn--orange {
		background-color: $color-orange;
		color: $color-dark;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-orange !important;
			color: $color-dark !important;
    	}
	}
	
	&.btn--green {
		background-color: $color-green;
		color: $color-dark;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-green !important;
			color: $color-dark !important;
    	}
	}
	
	&.btn--dark {
		background-color: $color-dark;
		color: $color-white;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-dark !important;
			color: $color-white !important;
    	}
	}
	
	&.btn--white {
		background-color: $color-white;
		color: $color-dark;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-white !important;
			color: $color-dark !important;
    	}
	}
	
	&.btn--lightgrey,
	&.btn--lightgrey-1 {
		background-color: $color-lightgrey-1;
		color: $color-dark;

		svg path {
			color: $color-dark;
		}

		&:focus {
			background-color: $color-lightgrey-1 !important;
			color: $color-dark !important;
    	}
	}

	&.btn-arrow--true {
		svg {
			vertical-align: middle;
			margin: -3px 0 0 15px;
		    width: 7px;
		    height: 13px;
		}
	}

	&.btn--text {
		color: inherit;
		text-decoration: none !important;
		padding: 0 !important;
		background: transparent !important;
		font-weight: normal !important;
		border: 0;
		border-bottom: 1px solid;

		&:hover {
			background: transparent !important;
		}

		&:focus {
			background: transparent !important;
			color: inherit !important;
    	}

		&.btn-arrow--true {
			margin-right: 40px;

			svg {
				position: absolute;
				right: -17px;
			    top: 50%;
			    margin-top: -5px;
			}
		}

		&.btn--text--white {
			border-color: $color-white;
			color: $color-white;

			svg polygon {
				fill: $color-white;
			}

			&:focus {
				color: $color-white !important;
			}
		}

		&.btn--text--dark {
			border-color: $color-dark;
			color: $color-dark;

			svg polygon {
				fill: $color-dark;
			}

			&:focus {
				color: $color-dark !important;
			}
		}
	}

	&.btn--text--white {
		color: inherit;
		text-decoration: none !important;
		padding: 0 !important;
		background: transparent !important;
		font-weight: normal !important;
		border-bottom: 1px solid $color-white;

		&:focus {
			background: transparent !important;
			color: inherit !important;
    	}

		svg {
			polygon {
				fill: $color-white;
			}
		}

		&:hover {
			background: transparent !important;
		}
	}

	&.btn--theme {
		color: $color-white;
	}
}