.header-article {
	.header-article__image {
		border-top: 20px solid $color-red;
		position: relative;

		img {
			width: 100%;
		}


		&:before,
		&:after {
			content: '';
			width: 35px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 6px;
			z-index: 1;
			background: #272729;
			mix-blend-mode: multiply;
			opacity: 0.5;
		}

		&:after {
			margin-left: 17.5px;
		}
	}

	.header-article__content {
		padding: 30px 0 50px;
	}

	@include md {
		.header-article__image {
			height: 550px;
			border: 0;
			border-bottom: 26px solid $color-red;

			img {
				height: 100%;
				object-fit: cover;
			}

			&:before,
			&:after {
				width: 129px;
				top: 0;
				left: 21px;
			}

			&:after {
				margin-left: 64.5px;
			}
		}

		.header-article__content {
			padding: 40px 0;
		}
	}
}