.icon-short-text {
	display: flex;

	img {
		flex: 0 0 25px;
		align-self: flex-start;
		margin-top: 4px;
	}

	.icon-short-text-main {
		flex: 1;
		padding-left: 20px;
		line-height: 1.3;

		em {
			font-style: normal;
		}

		strong {
			display: block;
		}
	}
}