.post-card {
	border-top: 8px solid;
	background: $color-lightgrey-3;
	display: block;
	text-decoration: none !important;

	&:focus,
	&:hover,
	&:active {
		background: $color-lightgrey-3 !important;
	}

	.post-card__image {
		height: 156px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		svg {
			position: absolute;
			bottom: 0;
			left: -1px;
		}
	}

	.post-card__content {
		padding: 10px 10px 20px;
	}

	.post-card__heading {
		text-decoration: underline;
	}

	span {
		display: block;
	}

	.post-card__date {
		font-size: 1.4rem;
		margin: 0 0 10px;
	}

	.post-card__cat {
		font-weight: bold;
		font-size: 16px;
		margin: 0 0 15px;
	}
}